
<div class="container text-center text-info" ng-controller="DashboardCtrl">
	<h2>Grocery Smart 1.0</h2>
	<hr />

	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		You have planned till Fri, Jun 21
	</div>
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		There aria-expanded new fliers from your preferred stores
	</div>
	<hr />
</div>

<div class="container">
	<a class="btn btn-primary btn-lg btn-block" href="#/meal-of-the-day">Today's Meal</a>
	<a class="btn btn-default btn-lg btn-block" href="#/shopping-list">Current Shopping List</a>
	<a class="btn btn-default btn-lg btn-block" href="#/meal-plan">Current Week's Meal Plan</a>
	<a class="btn btn-default btn-lg btn-block" href="#/plan-grocery">Plan Week's Grocery</a>
	<a class="btn btn-default btn-lg btn-block" href="#/pantry">Pantry</a>
</div>
