
<div class="container text-center text-info" ng-controller="MealOfTheDayCtrl">
	<h2>Day's Meal</h2>
	<p class="text-center">{{todayDate | date:'EEEE, MMM d'}}</p>
	<hr />
</div>
<div class="container">
	<dl class="dl-horizontal">
		<dt>Ingredients:</dt>
		<dd>{{todayRecipe.ingredients}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Instructions:</dt>
		<dd>{{todayRecipe.instruction}}</dd>
	</dl>


	<hr />
</div>

<div class="container">
	<a class="btn btn-primary btn-lg btn-block" href="index.html#/recipes">Other Recipes Like This</a>
	<hr/>
	<p class="text-center">Budget: {{budget | currency}}</p>
	<p class="text-center">This Meal: ~{{thisMeal | currency}}</p>
</div>
