
<div class="container text-center text-info" ng-controller="DashboardCtrl">
	<h2>Meal Plan</h2>
	<p>Friday Jun 21</p>
</div>

<hr />

<div class="container">
	<a class="btn btn-default btn-lg btn-block" href="#meal-of-the-day">Friday's Recipe ($50.00)</a>
	<a class="btn btn-default btn-lg btn-block" href="#meal-of-the-day">Saturday's Recipe ($50.00)</a>
	<a class="btn btn-default btn-lg btn-block" href="#meal-of-the-day">Sunday's Recipe ($50.00)</a>
	<a class="btn btn-default btn-lg btn-block" href="#meal-of-the-day">Monday's Recipe ($50.00)</a>
	<a class="btn btn-default btn-lg btn-block" href="#meal-of-the-day">Tuesday's Recipe ($50.00)</a>
	<a class="btn btn-default btn-lg btn-block" href="#meal-of-the-day">Wednesday's Recipe ($50.00)</a>
	<a class="btn btn-default btn-lg btn-block" href="#meal-of-the-day">Thursday's Recipe ($50.00)</a>
</div>
