################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrocerySmarts.sln
/GrocerySmarts.suo
/GrocerySmarts.v12.suo
/GrocerySmarts/GrocerySmarts.csproj.user
/GrocerySmarts/GrocerySmarts.csproj
