<!DOCTYPE html>

<html lang="en" data-ng-app="grocerySmartsApp">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Grocery Smarts</title>

    <link href="lib/bootstrap_310/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="app/css/app.css" rel="stylesheet" media="screen" />

	<script type="text/javascript" src="lib/jquery/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="lib/bootstrap_310/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/angular/angular-route.js"></script>
	<script type="text/javascript" src="lib/angular/angular-sanitize.js"></script>
	<script type="text/javascript" src="app/js/app.js"></script>
	<script type="text/javascript" src="app/js/controller/controllers.js"></script>
	<script type="text/javascript" src="app/js/service/serviceFactory.js"></script>


</head>
	<body>
		<header class="" data-ng-controller="HeaderCtrl">
			<div class="container gray">
				<div class="row">
					<div class="col-xs-6">
						<button type="button" class="btn btn-sm btn-default" data-ng-click="goBack()">
							<span class="glyphicon glyphicon-circle-arrow-left"></span>
						</button>
						<button type="button" class="btn btn-sm btn-default" data-ng-click="goPreferences()">
							<span class="glyphicon glyphicon-list"></span>
						</button>
					</div>
					<div class="col-xs-6 text-right">Grocery Smarts</div>
				</div>
			</div>
		</header>
		<div data-ng-view></div>

		<footer class="navbar-fixed-bottom">
			<div class="container gray">
				<div class="row">
					<div class="col-xs-6">&copy; 2014</div>
					<div class="col-xs-6 text-right">Grocery Smarts</div>
				</div>
			</div>
		</footer>
	</body>
</html>