
<div class="container text-center text-info" data-ng-controller="BudgetCtrl">
	<h2>Budget</h2>
</div>
<div class="container">
	Meal Realated:
	<ul class="list-group">
		<li class="list-group-item" data-ng-repeat="item in mealRelatedItems.items">
			<span class="pull-right"><input id="chk-1-1" type="checkbox" data-ng-checked="item.checked" /></span>
			<label for="chk-1-1">{{item.item}}</label>
		</li>
	</ul>
	<p class="pull-right">sub total: {{mealRelatedItems.subTotal | currency}}</p>
</div>
<div class="container">
	Other:
	<ul class="list-group">
		<li class="list-group-item" data-ng-repeat="item in otherItems.items">
			<span class="pull-right"><input id="chk-2-1" type="checkbox" data-ng-checked="item.checked" /></span>
			<label for="chk-2-1">{{item.item}}</label>
		</li>
	</ul>
	<p class="pull-right">sub total: {{otherItems.subTotal | currency}}</p>
</div>
<hr />
<div class="container">
	<p class="pull-right">Total: {{otherItems.subTotal + mealRelatedItems.subTotal | currency}}</p>
</div>