
<div class="container text-center text-info" data-ng-controller="DashboardCtrl">
	<h2>Grocery Smart 1.0</h2>
	<hr />

	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		You have planned till Fri, Jun 21
	</div>
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		There are new fliers from your preferred stores
	</div>
	<hr />
</div>

<div class="container">
	<div class="list-group">
		<a class="list-group-item active" href="#/meal-of-the-day">
			Today's Meal
			<span class="badge"><span class="glyphicon glyphicon-chevron-right"></span></span>
		</a>
		<a class="list-group-item" href="#/shopping-list">
			Current Shopping List
			<span class="badge"><span class="glyphicon glyphicon-chevron-right"></span></span>
		</a>
		<a class="list-group-item" href="#/meal-plan">
			Current Week's Meal Plan
			<span class="badge"><span class="glyphicon glyphicon-chevron-right"></span></span>
		</a>
		<a class="list-group-item" href="#/plan-grocery">
			Plan Week's Grocery
			<span class="badge"><span class="glyphicon glyphicon-chevron-right"></span></span>
		</a>
		<a class="list-group-item" href="#/pantry">
			Pantry
			<span class="badge"><span class="glyphicon glyphicon-chevron-right"></span></span>
		</a>
	</div>
</div>
